@font-face {
    font-family: "square peg"; /* font for restaurant name */
    src: url("./SquarePeg-Regular.ttf");
}

/* Page load styling */

html,
body {
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-image: url("./lily-banse--YHSwy6uqvk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 100px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 5rem 1fr;
    align-items: center;
    justify-items: center;
    font-size: min(10vw, 6rem);
}

header,
h2,
h3 {
    font-family: "square peg";
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

#para2 {
    max-width: calc(100% - 100px);
}

#para2,
.opening,
.bottom,
.content {
    text-align: center;
}

#logo {
    height: 5rem;
    justify-self: center;
}

button {
    border-style: none;
    background-color: transparent;
    font-size: clamp(1rem, 2vw, 20px);
    cursor: pointer;
    color: inherit;
}

.container {
    height: 70vh;
    width: max(calc(100% - 400px), 350px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container,
footer {
    background-color: rgba(0, 0, 0, 0.5);
}

#bottom-section {
    margin-top: 20px;
}

/*Menu Styling*/

.menuContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

#menuButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-style: solid;
    border-color: white;
}

/* Contact Styling */

.content {
    display: flex;
}

form {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 20px;
    width: calc(100% - 20vw);
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

form > :first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    column-gap: 20px;
    height: clamp(250px, 80%, 600px);
}

form > button {
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    height: 50px;
    width: 120px;
}

.message {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

input,
textarea {
    width: 20vw;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    color: white;
    padding: 4px;
}

textarea {
    height: 80%;
}